h1 {
  display: flex;
  font-size: 20px;
  display:grid;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 30px;
  color: red;
}
h4 {
  font-size: 29px;
  animation-fill-mode:backwards;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin {
  animation: spin 2s linear infinite;
}
